<template>
  <div id="landing-page">
    <div class="top-buttons">
      <img class="back-button" src="@/assets/backBtnBig.png">
      <div class="language-buttons">
        <button alt="alt" @click="changeLanguage('est')">EST</button>
        <button alt="alt" @click="changeLanguage('eng')">ENG</button>
        <button alt="alt" @click="changeLanguage('rus')">RUS</button>
      </div>
    </div>
  <div class="menu-content">
    <a class="menu-button" :class="{'selected-button': selected === 'trivia'}" @click="selected='trivia'; routerLink='trivia-page'">{{ triviaText }}</a>
    <a class="menu-button" :class="{'selected-button': selected === 'puzzle'}" @click="selected='puzzle'; routerLink='puzzle-page'">{{ puzzleText }}</a>
    <router-link v-show="selected === 'trivia'" class="play-button menu-button" :to="{name: 'trivia-page', query: { language: language }}">{{ playText }}</router-link>
    <router-link v-show="selected === 'puzzle'" class="play-button menu-button" :to="{name: 'puzzle-page', query: { language: language }}">{{ playText }}</router-link>
  </div>
</div> 
</template>
<script>
export default {
  data () {
    this.language = 'est'
    this.triviaText = 'Küsimused'
    this.puzzleText = 'Pusle'
    this.playText = 'mängi'
    this.selected = 'trivia'
    this.routerLink = 'puzzle-page'

    return {
      language: this.language,
      triviaText: this.triviaText,
      puzzleText: this.puzzleText,
      playText: this.playText,
      selected: this.selected,
      routerLink: this.routerLink
    }
  },
  mounted () {
    if (this.language === undefined) {
      this.language = 'est'
      this.triviaText = 'Küsimused'
      this.puzzleText = 'Pusle'
      this.playText = 'mängi'
    }
    if (!localStorage.getItem('language')) {
      localStorage.setItem('language', 'est')
    }

    this.changeLanguage(localStorage.getItem('language'))
  },
  methods: {
    changeLanguage (language) {
      this.language = language

      if (language === 'est') {
        this.triviaText = 'Küsimused'
        this.puzzleText = 'Pusle'
        this.playText = 'mängi'
        localStorage.setItem('language', language)
      } else if (language === 'eng') {
        this.triviaText = 'Trivia'
        this.puzzleText = 'Puzzle'
        this.playText = 'Play'
        localStorage.setItem('language', language)
      } else if (language === 'rus') {
        this.triviaText = 'Вопросы'
        this.puzzleText = 'Пазл'
        this.playText = 'играть'
        localStorage.setItem('language', language)
      }
    }
  }
}
</script>
<style>
body{
  background-image: url("~@/assets/40blur.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100%;
  overflow: hidden;
  user-select: none;
}

@font-face {
  font-family: joanna;
  src: url("~@/assets/JoannaSansNova-Bold.ttf");
}

@font-face {
  font-family: sulane;
  src: url("~@/assets/Sulane_T07-Regular.otf");
}

.back-button {
  width: 150px;
  height: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.back-button2 {
  width: 150px;
  height: 150px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6.3%;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
  outline: none !important;
}

</style>
<style scoped>
#landing-page {
  padding: 100px 64px 100px 64px;
}

.wrapper{
  position: relative;
  text-align: center;
  color: black;
}

.top-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
}

.top-buttons button {
  background-color: Transparent;
  outline:none;
  border: none;
  color: #009FE3;
  margin-top: 2%;
  font-weight: bold;
  cursor: pointer;
  font-size: 38px;
}

.top-buttons button:active {
  outline: none;
}

.top-buttons button:focus {
  outline: none;
}

.menu-content {
  padding-top: 300px;
  display: flex;
  flex-direction: column;
}

.menu-button {
  display: block;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'sulane';
  color:#43503f;
  text-decoration: none;
  font-size: 100px;
  text-transform: uppercase;
}

.play-button {
  margin-top: 120px;
  background-color: #43503f;
  color: white;
  font-size: 64px;
  padding: 22px 52px 22px 52px;
}

.selected-button {
  color: transparent;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #00aeef;
}

.selected-button::after {
  background-image: url('~@/assets/TextSymbol.png');
  background-size: 55px 55px;
  display: inline-block;
  width: 55px;
  height: 55px;
  content: "";
  margin-left: 50px;
  margin-bottom: 7px;
}

.selected-button::before {
  background-image: url('~@/assets/TextSymbol.png');
  background-size: 55px 55px;
  display: inline-block;
  width: 55px;
  height: 55px;
  content: "";
  margin-right: 50px;
  margin-bottom: 7px;
}

.language-buttons {
  margin-left: auto;
}

</style>

