<template>
    <div id="puzzle-page" v-click-outside="backgroundClick">
      <div class="top-buttons">
      <img class="back-button2" src="@/assets/backBtnBig.png" @click="SwipeHandler()">
    </div>
      <div :class="{'bg-image': currentPuzzleSrc !== ''}" @click="backgroundClick"></div>
        <div class="wrapper" @click="backgroundClick">
            <router-link :to="{ name: 'landing-page'}">
              <button style="float:center" class="button BackBtn"></button>
            </router-link>
            <span class="LeftSwipe" style='float: right;' v-touch:swipe.left="SwipeHandler" v-touch:swipe.right="SwipeHandler"></span>
        </div>
        <div 
          v-for="puzzle in puzzles"
          class="puzzle-wrapper"
          v-bind:style="
          [
            puzzle.answered || puzzle.isTransition ? {left: puzzle.correctImageX + 'px', top: puzzle.correctImageY + 'px'} : {left: puzzle.pictogramX + 'px', top: puzzle.pictogramY + 'px'} ]">
        	<transition name="fade-pictogram">
            <img
              :src=puzzle.pictogramImg
              :width=puzzle.pictogramWidth
              :height=puzzle.pictogramHeight
              v-show="!puzzle.selected && !puzzle.answered && !puzzle.isTransition && !IsTransitionOrCorrect()"
              v-on:click="pictogramClick(puzzle, puzzles)">
        	</transition>
          <transition :name="puzzle.transitionClass" v-on:after-leave="puzzle.isTransition=false" v-on:before-enter="puzzle.isTransition=true">
            <img
              :src=puzzle.correctImg
              :width=puzzle.correctImageWidth
              :height=puzzle.correctImageHeight
              v-show="puzzle.answered">
          </transition>
        </div>
        <div v-show="currentPuzzleSrc !== ''" id="puzzle-frame">
          <iframe :src="currentPuzzleSrc" frameBorder="0" ref="puzzleRef">
          </iframe>
      </div>
    </div> 
</template>

<script>
export default {
  data () {
    this.currentPuzzleSrc = ''
    this.currentPuzzle = null
    this.currentTimeout = null

    var puzzle1 = {
      pictogramWidth: 120,
      pictogramHeight: 120,
      correctImageWidth: 200,
      correctImageHeight: 250,
      pictogramX: 536,
      pictogramY: 470,
      correctImageX: 180,
      correctImageY: 440,
      selected: false,
      answered: false,
      timeout: null,
      isTransition: false,
      transitionClass: 'slide-fade-puzzle1',
      correctImg: require('../assets/triviaCorrect/image1.gif'),
      pictogramImg: require('../assets/pictograms/image4.png'),
      puzzleSrc: './static/puzzle/PuzzleOne.html'
    }

    var puzzle2 = {
      pictogramWidth: 150,
      pictogramHeight: 140,
      correctImageWidth: 300,
      correctImageHeight: 300,
      pictogramX: 390,
      pictogramY: 793,
      correctImageX: 440,
      correctImageY: 860,
      selected: false,
      answered: false,
      timeout: null,
      isTransition: false,
      transitionClass: 'slide-fade-puzzle2',
      correctImg: require('../assets/triviaCorrect/image6.gif'),
      pictogramImg: require('../assets/pictograms/image1.png'),
      puzzleSrc: './static/puzzle/PuzzleTwo.html'
    }

    var puzzle3 = {
      pictogramWidth: 130,
      pictogramHeight: 120,
      correctImageWidth: 300,
      correctImageHeight: 300,
      pictogramX: 35,
      pictogramY: 980,
      correctImageX: -15,
      correctImageY: 868,
      selected: false,
      answered: false,
      timeout: null,
      isTransition: false,
      transitionClass: 'slide-fade-puzzle3',
      correctImg: require('../assets/triviaCorrect/image2.gif'),
      pictogramImg: require('../assets/pictograms/image2.png'),
      puzzleSrc: './static/puzzle/PuzzleThree.html'
    }

    var puzzle4 = {
      pictogramWidth: 110,
      pictogramHeight: 150,
      correctImageWidth: 300,
      correctImageHeight: 300,
      pictogramX: 845,
      pictogramY: 1067,
      correctImageX: 833,
      correctImageY: 1027,
      selected: false,
      answered: false,
      timeout: null,
      isTransition: false,
      audio: new Audio(require('../assets/audio.mp3')),
      pictogramImg: require('../assets/pictograms/image3.png'),
      puzzleSrc: './static/puzzle/PuzzleFour.html'
    }

    var puzzle5 = {
      pictogramWidth: 120,
      pictogramHeight: 120,
      correctImageWidth: 300,
      correctImageHeight: 300,
      pictogramX: 250,
      pictogramY: 1450,
      correctImageX: 380,
      correctImageY: 1270,
      selected: false,
      answered: false,
      timeout: null,
      isTransition: false,
      transitionClass: 'slide-fade-puzzle5',
      correctImg: require('../assets/triviaCorrect/image5.gif'),
      pictogramImg: require('../assets/pictograms/image4.png'),
      puzzleSrc: './static/puzzle/PuzzleFive.html'
    }

    var puzzle6 = {
      pictogramWidth: 130,
      pictogramHeight: 130,
      correctImageWidth: 300,
      correctImageHeight: 300,
      pictogramX: 120,
      pictogramY: 1695,
      correctImageX: 8,
      correctImageY: 1600,
      selected: false,
      answered: false,
      timeout: null,
      isTransition: false,
      transitionClass: 'slide-fade-puzzle6',
      correctImg: require('../assets/triviaCorrect/image3.gif'),
      pictogramImg: require('../assets/pictograms/image5.png'),
      puzzleSrc: './static/puzzle/PuzzleSix.html'
    }

    var puzzle7 = {
      pictogramWidth: 120,
      pictogramHeight: 120,
      correctImageWidth: 300,
      correctImageHeight: 300,
      pictogramX: 517,
      pictogramY: 1656,
      correctImageX: 550,
      correctImageY: 1150,
      selected: false,
      answered: false,
      timeout: null,
      isTransition: false,
      transitionClass: 'slide-fade-puzzle7',
      correctImg: require('../assets/triviaCorrect/image4.gif'),
      pictogramImg: require('../assets/pictograms/image4.png'),
      puzzleSrc: './static/puzzle/PuzzleSeven.html'
    }

    var puzzle8 = {
      pictogramWidth: 110,
      pictogramHeight: 150,
      correctImageWidth: 210,
      correctImageHeight: 210,
      pictogramX: 745,
      pictogramY: 1498,
      correctImageX: 685,
      correctImageY: 1150,
      selected: false,
      answered: false,
      timeout: null,
      isTransition: false,
      transitionClass: 'slide-fade-puzzle8',
      correctImg: require('../assets/triviaCorrect/image7.gif'),
      pictogramImg: require('../assets/pictograms/image3.png'),
      puzzleSrc: './static/puzzle/PuzzleEight.html'
    }

    this.puzzleHideTimer = null

    return {
      puzzles: [
        puzzle1,
        puzzle2,
        puzzle3,
        puzzle4,
        puzzle5,
        puzzle6,
        puzzle7,
        puzzle8
      ],
      currentPuzzleSrc: this.currentPuzzleSrc,
      currentPuzzle: this.currentPuzzle,
      publicPath: process.env.BASE_URL,
      currentTimeout: this.currentTimeout
    }
  },
  mounted: function () {
    var self = this
    this.puzzleInterval = setInterval(function () {
      if (self.$refs.puzzleRef === undefined) {
        return
      }

      var puzzleRef = self.$refs.puzzleRef.contentWindow.document.getElementById('congrat')
      if (puzzleRef === null) {
        return
      }

      if (!puzzleRef.classList.contains('hide')) {
        if (self.puzzleHideTimer !== null || self.currentTimeout !== null) {
          return
        }

        self.currentTimeout = setTimeout(function () {
          var currentPuzzle = self.currentPuzzle
          self.backgroundClick()

          currentPuzzle.answered = true

          if (currentPuzzle.audio !== undefined) {
            currentPuzzle.audio.play()
          }
          setTimeout(function () {
            currentPuzzle.answered = false
          }, 9000)
        }, 1500)
      }
    }, 100)
  },
  methods: {
    SwipeHandler () {
      this.$router.push('landing-page')
    },
    IsTransitionOrCorrect () {
      for (var i = 0; i < this.puzzles.length; i++) {
        if (this.puzzles[i].isTransition || this.puzzles[i].answered) {
          return true
        }
      }

      return false
    },
    pictogramClick (puzzle, puzzles) {
      this.puzzles = puzzles
      clearTimeout(this.currentTimeout)
      this.currentTimeout = null

      for (var i = 0; i < puzzles.length; i++) {
        puzzles[i].selected = true
        puzzles[i].answered = false

        if (puzzles[i].audio !== undefined) {
          puzzles[i].audio.pause()
          puzzles[i].audio.currentTime = 0
        }
      }
      this.clicked = true
      this.currentPuzzleSrc = puzzle.puzzleSrc
      this.currentPuzzle = puzzle
    },
    backgroundClick: function (e) {
      for (var i = 0; i < this.puzzles.length; i++) {
        this.puzzles[i].selected = false
        this.puzzles[i].answered = false

        if (this.puzzles[i].audio !== undefined) {
          this.puzzles[i].audio.pause()
          this.puzzles[i].audio.currentTime = 0
        }
      }

      clearTimeout(this.puzzleHideTimer)
      clearTimeout(this.currentTimeout)

      this.currentTimeout = null
      this.puzzleHideTimer = null
      this.currentPuzzleSrc = ''
      this.currentPuzzle = null
    }
  },
  directives: {
    'click-outside': {
      bind: function (el, binding, vNode) {
        // Provided expression must evaluate to a function.

        if (typeof binding.value !== 'function') {
          const compName = vNode.context.name
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`
          if (compName) { warn += `Found in component '${compName}'` }

          console.warn(warn)
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
            binding.value(e)
          }
        }
        el.__vueClickOutside__ = handler

        // add Event Listeners
        document.addEventListener('click', handler)
      },
      unbind: function (el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__)
        el.__vueClickOutside__ = null
      }
    }
  }
}
</script>

<style>
.bg-image {
  position: absolute;
  background-image: url("~@/assets/Mainscreen.jpg");
  background-repeat: no-repeat;
  background-size: 1080px 1920px;

  filter: blur(4px);
  -webkit-filter: blur(4px);

  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

  .LeftSwipe {
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .wrapper  {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    text-align: right;
  }

  .puzzle-wrapper {
    position: absolute;
    margin: 0;
  }

  .wrapper {
    text-align: center;
  }

  .button {
    background-color: transparent;
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    padding: 48px;
    cursor: pointer;
  }

  .top-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin: 108px 64px 100px 64px;
}

  .BackBtn {
    border-radius: 50%;
    margin-left: 60px;
  }

#puzzle-frame {
    position: absolute;
    margin-top: 290px;
    left: 0;
    right: 0;
    height: 590px;
}

#puzzle-frame iframe {
    width: 100%;
    height: 100%;
}

@keyframes puzzle-out {
  from {
    transform: scale(1);
    opacity: 1;
  }

  to {
    transform: scale(0.2);
    opacity: 0;
  }
}

.fade-pictogram-enter-active {
  transition: all 0.8s ease;
}
.fade-pictogram-leave-active {
  transition: none;
}
.fade-pictogram-enter {
  transform: scale(0.2);
  opacity: 0;
}
.fade-pictogram-leave {
  transform: scale(0);
}

.slide-fade-puzzle1-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-puzzle1-leave-active {
  animation: puzzle-out 1.2s ease;
}
.slide-fade-puzzle1-enter {
  transform: translate(200px, 300px) scale(0.2);
  opacity: 0;
}
.slide-fade-puzzle1-leave {
  opacity: 0;
}

.slide-fade-puzzle2-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-puzzle2-leave-active {
  animation: puzzle-out 1.2s ease;
}
.slide-fade-puzzle2-enter {
  transform: translate(20px, -200px) scale(0.2);
  opacity: 0;
}
.slide-fade-puzzle2-leave {
  opacity: 0;
}

.slide-fade-puzzle3-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-puzzle3-leave-active {
  animation: puzzle-out 1.2s;
}
.slide-fade-puzzle3-enter {
  transform: translate(400px, 20px) scale(0.2);
  opacity: 0;
}
.slide-fade-puzzle3-leave {
  opacity: 0;
}

.slide-fade-puzzle5-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-puzzle5-leave-active {
  animation: puzzle-out 1.2s;
}
.slide-fade-puzzle5-enter {
  transform: translate(100px, -500px) scale(0.2);
  opacity: 0;
}
.slide-fade-puzzle5-leave {
  opacity: 0;
}

.slide-fade-puzzle6-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-puzzle6-leave-active {
  animation: puzzle-out 1.2s;
}
.slide-fade-puzzle6-enter {
  transform: translate(600px, -1200px) scale(0.2);
  opacity: 0;
}
.slide-fade-puzzle6-leave {
  opacity: 0;
}

.slide-fade-puzzle7-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-puzzle7-leave-active {
  animation: puzzle-out 1.2s;
}
.slide-fade-puzzle7-enter {
  transform: translate(-100px, -600px) scale(0.2);
  opacity: 0;
}
.slide-fade-puzzle7-leave {
  opacity: 0;
}

.slide-fade-puzzle8-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-puzzle8-leave-active {
  animation: puzzle-out 1.2s;
}
.slide-fade-puzzle8-enter {
  transform: translate(-150px, -400px) scale(0.2);
  opacity: 0;
}
.slide-fade-puzzle8-leave {
  opacity: 0;
}

</style>