<template>
  <div v-click-outside="backgroundClick">
    <div class="top-buttons">
      <img class="back-button" src="@/assets/backBtnBig.png" @click="SwipeHandler()">
    </div>
    <div class="wrapper" @click="backgroundClick">
      <router-link :to="{ name: 'landing-page'}"><button class="button BackBtn"></button></router-link>
      <span class="Swipe" style='float: right;' v-touch:swipe.left="SwipeHandler" v-touch:swipe.right="SwipeHandler"></span>
    </div>
    <div 
      v-for="trivia in trivias"
      v-bind:style="
      [ 
        trivia.selected ? {left: trivia.defaultImageX + 'px', top: trivia.defaultImageY + 'px'} : {left: trivia.pictogramX + 'px', top: trivia.pictogramY + 'px'},
        trivia.answered ? {left: trivia.correctImageX + 'px', top: trivia.correctImageY + 'px' } : {},
        {zIndex: trivia.z}]"
      class="trivia-wrapper"
      :class="[{'bounce animated': trivia.shake }, {[trivia.visibleClass]: trivia.selected}]" @animationend="trivia.shake = false">
      <transition :name="trivia.transitionClass" v-on:before-leave="trivia.isTransition=true" v-on:after-leave="trivia.isTransition=false" v-on:before-enter="trivia.isTransition=true" v-on:after-enter="trivia.isTransition=false">
        <div class="trivia-selected-wrapper" :class="[{'trivia-selected-wrapper-side': trivia.textboxSide === 'left' || trivia.textboxSide === 'right'}]" v-show="trivia.selected && !trivia.answered">
            <div class="trivia-textbox" v-show="trivia.textboxSide === 'left' || trivia.textboxSide == 'top'" :class="[{'trivia-textbox-white': trivia.textboxColor === 'white'}, {'trivia-textbox-red': trivia.textboxColor === 'red'}]">
              <p class="trivia-question">{{ trivia.question }}</p>
              <br>
              <br>
              <div v-for="answer in trivia.answers" class="trivia-answer">
                <a v-show="!answer.isAnswered" :class="[{'answered-wrong': answer.isAnswered && !answer.isCorrect}, {'answered-correct': answer.isAnswered && answer.isCorrect}]" v-on:click="answerClick(answer, trivia)">{{ answer.text }}</a>
                <a v-show="answer.isAnswered" :class="[{'answered-wrong': answer.isAnswered && !answer.isCorrect}, {'answered-correct': answer.isAnswered && answer.isCorrect}]" v-on:click="answerClick(answer, trivia)">{{ answer.text }} {{ answer.explanation }}</a>
                <br>
              </div>
            </div>
          <img
            class="trivia-image"
            :src=trivia.defaultImg
            :width=trivia.defaultImageWidth
            :height=trivia.defaultImageHeight>
            <div class="trivia-textbox" v-show="trivia.textboxSide === 'right' || trivia.textboxSide === 'bottom'" :class="[{'trivia-textbox-white': trivia.textboxColor === 'white'}, {'trivia-textbox-red': trivia.textboxColor === 'red'}]">
              <p class="trivia-question">{{ trivia.question }}</p>
              <br>
              <br>
              <div v-for="answer in trivia.answers" class="trivia-answer">
                <a v-show="!answer.isAnswered" :class="[{'answered-wrong': answer.isAnswered && !answer.isCorrect}, {'answered-correct': answer.isAnswered && answer.isCorrect}]" v-on:click="answerClick(answer, trivia)">{{ answer.text }}</a>
                <a v-show="answer.isAnswered" :class="[{'answered-wrong': answer.isAnswered && !answer.isCorrect}, {'answered-correct': answer.isAnswered && answer.isCorrect}]" v-on:click="answerClick(answer, trivia)">{{ answer.text }} {{ answer.explanation }}</a>
                <br>
              </div>
            </div>
        </div>
      </transition>
      <transition name="fade-pictogram">
      <img
        :src=trivia.pictogramImg
        :width=trivia.pictogramWidth
        :height=trivia.pictogramHeight
        v-show="!trivia.selected && !trivia.answered && !isSelected && !trivia.isTransition && !IsTransitionOrCorrect()"
        :left=trivia.x
        v-on:click="pictogramClick(trivia)">
      </transition>
      <img
        :src=trivia.correctImg
        :width=trivia.correctImageWidth
        :height=trivia.correctImageHeight
        v-show="trivia.answered && !trivia.isTransition && trivia.correctImg !== undefined">
    </div>
  </div>
</template>

<script>
export default {
  data () {
    this.language = localStorage.getItem('language')
    this.isSelected = false

    var trivia1question
    var trivia1answers

    var trivia2question
    var trivia2answers

    var trivia3question
    var trivia3answers

    var trivia4question
    var trivia4answers

    var trivia5question
    var trivia5answers

    var trivia6question
    var trivia6answers

    var trivia7question
    var trivia7answers

    var trivia8question
    var trivia8answers

    if (this.language === 'est') {
      trivia1question = 'Kuna tsistertslased ei tohtinud algsete tõekspidamiste järgi süüa liha, kuid tohtisid süüa kala, siis rajasid nad oma kloostrid alati veekogude lähedusse. Millise jõe äärest kolisid mungad 14. sajandi alguses Padisele?'
      trivia1answers = [
        { text: 'Vantaa', isCorrect: false, isAnswered: false },
        { text: 'Daugava', isCorrect: true, isAnswered: false },
        { text: 'Pirita', isCorrect: false, isAnswered: false }
      ]

      trivia2question = 'Enne ristiusu jõudmist Eestisse ei osatud siin ehitada kõrgeid kivihooneid, kuna ei tuntud kivide ühendamiseks vajaliku lubisegu retsepti. Tsistertslased tõid endaga kaasa täiesti uue ehituskunsti - võime vaid ette kujutada, kuidas mõjusid kõrged kivihooned madalate puidust talutarede kõrval. Miks nimetatakse tsistertslasi eliidimunkadeks?'
      trivia2answers = [
        { text: 'nad tõid Eestisse väga elitaarseid oskusi', isCorrect: false, isAnswered: false },
        { text: 'tsistertslased pidasid end teistest paremateks', isCorrect: false, isAnswered: false },
        { text: 'tsistertslaste toodud oskused ehitus- ja tehnoloogiavaldkonnas ei levinud esmajoones talurahva seas, vaid võeti kasutusele mõisates.', isCorrect: true, isAnswered: false }
      ]

      trivia3question = 'Tsistertslased olid tuntud veetehnoloogiate arendajatena. Millised juuresolevatest tegevustest võiks ajalooliselt siduda tsistertslastega? Vali nimekirjast neli sobivat.'
      trivia3answers = [
        { text: 'vesiveskite rajamine', isCorrect: true, isAnswered: false },
        { text: 'vesiklosettide rajamine', isCorrect: true, isAnswered: false },
        { text: 'kalatiikide rajamine', isCorrect: true, isAnswered: false },
        { text: 'sadevee kanalisatsiooni väljaehitamine', isCorrect: true, isAnswered: false },
        { text: 'vihmavee rennide paigaldamine', isCorrect: false, isAnswered: false }
      ]

      trivia4question = 'Mungad pidid kaheksa korda ööpäevas käima kloostri kirikus missal. Missadel lauldi palveid ja pühakirjatekste ühehäälselt ilma muusikainstrumentide saateta. Seda muusikat nimetatakse gregooriuse koraaliks. Millises keeles gregoriaani koraale valdavalt lauldakse?'
      trivia4answers = [
        { text: 'saksa', isCorrect: false, isAnswered: false },
        { text: 'igas riigis oma emakeeles', isCorrect: false, isAnswered: false },
        { text: 'ladina', isCorrect: true, isAnswered: false },
        { text: 'heebrea', isCorrect: false, isAnswered: false }
      ]

      trivia6question = 'Keskaegne klooster ei olnud ainult kloostrikompleks, vaid selle juurde kuulusid ka ulatuslikud maavaldused. Padise kloostri maad ulatusid siit kloostrist mereni, sealhulgas Pakri saartele, lääne poole kuni Lääne-Nuigulani, ida suunas oli kloostri maid ka Harju-Jaani kihelkonnas tänapäeva Raasiku kandis ning lõuna suunas tänapäeva Märjamaa kandis. Ühtlasi omas Padise klooster 14. sajandi teisel poolel ulatuslikke maavaldusi Lõuna-Soomes tänapäeva Vantaa, Sipoo ja Porvoo kandis. Vali juuresolevatest viljadest kolm, mida Padise kloostri maadel kindlasti kasvatati.'
      trivia6answers = [
        { text: 'viinamarjad', isCorrect: false, isAnswered: false },
        { text: 'nisu', isCorrect: true, isAnswered: false },
        { text: 'rukis', isCorrect: true, isAnswered: false },
        { text: 'oder', isCorrect: true, isAnswered: false },
        { text: 'mais', isCorrect: false, isAnswered: false },
        { text: 'kaer', isCorrect: false, isAnswered: false }
      ]

      trivia5question = 'Mungad sõid suveajal kaks ja talveajal ühe korra päevas ning nende toit koosnes peamiselt köögivilja- ja teraviljaroogadest. Lihatoidud olid algsete kloostrireeglite kohaselt keelatud (kuigi Padise kloostris on juba liha söödud). Millise looma liha oli juba kloostrite algusaegadel lubatud süüa?'
      trivia5answers = [
        { text: 'sealiha, kuna see oli lihtsasti kättesaadav', isCorrect: false, isAnswered: false },
        { text: 'jäneseliha, kuna jänes on väike loom', isCorrect: false, isAnswered: false },
        { text: 'kopraliha', isCorrect: true, isAnswered: false, explanation: 'kuna kopra karvutut saba peeti „kalaks”' }
      ]

      trivia7question = 'Kloostrite juurde rajati ravim- ja maitsetaimede kasvatamiseks ürdiaedu. Kas tead, mis taim on mungalill?'
      trivia7answers = [
        { text: 'kress', isCorrect: true, isAnswered: false, explanation: 'sai mungalille nime, kuna õied meenutavad kaputsiinlaste mungarüü kapuutsi' },
        { text: 'aed-liivatee', isCorrect: false, isAnswered: false },
        { text: 'kummel', isCorrect: false, isAnswered: false }
      ]

      trivia8question = 'Keskajal kirjutati raamatuid ümber käsitsi. Kloostrid olid peamisteks raamatute ümberkirjutamise paikadeks ning kirjakunsti edendajateks. Käsikirjad muutusid tõelisteks kunstiteosteks. Tähelepanu tõmbamiseks teatud tekstiosad kirjutati punase tindiga, mõnikord lõikude algustäht - initsiaal - kaunistati. Mis oli kaunistatud initsiaali mõte?'
      trivia8answers = [
        { text: 'anda võimalus kirjutajale oma kunstiliseks väljaelamiseks', isCorrect: true, isAnswered: false },
        { text: 'kuna sisukorda ja leheküljenumbreid ei kasutatud, siis aitas kaunistatud initsiaal ära tunda õiget kohta tekstis', isCorrect: true, isAnswered: false },
        { text: 'mida tähtsam kirjakoht, seda uhkemini kaunistatud initsiaal oli', isCorrect: true, isAnswered: false }
      ]
    } else if (this.language === 'eng') {
      trivia1question = 'The original Cistercian regulations prohibited  eating meat. As eating fish was allowed, the monks tended to found their monasteries near the rivers. What was the name of the river from where the Cistercian monks moved to Padise in the early 14th century?'
      trivia1answers = [
        { text: 'Vantaa', isCorrect: false, isAnswered: false },
        { text: 'Daugava', isCorrect: true, isAnswered: false },
        { text: 'Pirita', isCorrect: false, isAnswered: false }
      ]

      trivia2question = 'Before the arrival of Christianity in Estonia it was not known how to construct high buildings, because the ancient Estonians did not have a recipe for lime mortar, a mixture necessary for binding stones. The Cistercians brought with them new architecture: you can only imagine the striking contrast between the tall stone buildings and the low wooden peasant houses. Sometimes the Cistercian monks are called elite monks, why?'
      trivia2answers = [
        { text: 'they brought very special skills to Estonia', isCorrect: false, isAnswered: false },
        { text: 'hey thought they were superior to others', isCorrect: false, isAnswered: false },
        { text: 'they had skills in building and technology which at first did not spread among the peasants, but began to be used on the manors.', isCorrect: true, isAnswered: false }
      ]

      trivia3question = 'The Cistercians were known for theie innovative development of water systems. Which of the activites mentioned below can be associated with the Cistercians? Choose four correct answers.'
      trivia3answers = [
        { text: 'building of water mills', isCorrect: true, isAnswered: false },
        { text: 'building of flushing toilets', isCorrect: true, isAnswered: false },
        { text: 'digging of fish ponds', isCorrect: true, isAnswered: false },
        { text: 'building of run-off drainage systems', isCorrect: true, isAnswered: false },
        { text: 'installing of rain gutters', isCorrect: false, isAnswered: false }
      ]

      trivia4question = 'The Cistercian monks attended masses in church eight times a day. At mass the prayers and sacred texts were sung in a monophonic, unaccompanied form. This type of music is called Gregorian chant. In what language are Gregorian chants usually sung?'
      trivia4answers = [
        { text: 'German', isCorrect: false, isAnswered: false },
        { text: 'in each country in the local language(s)', isCorrect: false, isAnswered: false },
        { text: 'Latin', isCorrect: true, isAnswered: false },
        { text: 'Hebrew', isCorrect: false, isAnswered: false }
      ]

      trivia6question = 'A medieval monastery comprised monastery buildings but it had also extensive land holdings. The lands owned by Padise Monastery extended from Padise monastery to the sea, including the Pakri islands, in the west they extended up to West-Nigula, in the east to Raasiku in Harju-Jaani Parish and in the south there were lands in Märjamaa. In the second half of the 14th century Padise Monastery had large plots in southern Finland, around Vantaa, Sipoo and Porvoo.\nChoose three plants from below which were cultivated in the fields of Padise Monastery.'
      trivia6answers = [
        { text: 'grapes', isCorrect: false, isAnswered: false },
        { text: 'wheat', isCorrect: true, isAnswered: false },
        { text: 'rye', isCorrect: true, isAnswered: false },
        { text: 'barley', isCorrect: true, isAnswered: false },
        { text: 'maize', isCorrect: false, isAnswered: false },
        { text: 'oats', isCorrect: false, isAnswered: false }
      ]

      trivia5question = 'The Cistercian monks had two meals a day in summer and one meal a day in winter. Their diet consisted mainly of vegetables and cereals. Meat dishes were not allowed according to the original monastic rules (in Padise Monastery meat was already eaten). However, the meat of one animal was allowed from the beginning days of monasteries, which animal meat was it?'
      trivia5answers = [
        { text: 'pork because it was readily available', isCorrect: false, isAnswered: false },
        { text: 'hare meat because a hare is a small animal', isCorrect: false, isAnswered: false },
        { text: 'beaver meat', isCorrect: true, isAnswered: false, explanation: 'as beaver’s tail was hairless it was considered an aquatic animal like fish' }
      ]

      trivia7question = 'Gardens were established near monasteries to grow medicinal plants and herbs. Do you know what plant is called capuchin or monk’s cress?'
      trivia7answers = [
        { text: 'nasturtium', isCorrect: true, isAnswered: false, explanation: 'because its flowers resemble the hood of a Capuchin monk’s cloak' },
        { text: 'thyme', isCorrect: false, isAnswered: false },
        { text: 'chamomile', isCorrect: false, isAnswered: false }
      ]

      trivia8question = 'In the Middle Ages books were written and copied by hand. Monasteries were the most important places for copying books and for promoting the art of beautiful writing. The manuscipts became real artworks. To draw attention to some parts of the text, the letters were written in red, and the initial letter of a paragraph was decorated or illuminated. What was the meaning of an illuminated initial?'
      trivia8answers = [
        { text: 'it gave an opportunity for the monk scribe to express himselt in art', isCorrect: true, isAnswered: false },
        { text: 'it helped readers to find their way around the book, as the table of contents was missing and the pages were not numbered', isCorrect: true, isAnswered: false },
        { text: 'the more important sections of the text were marked by more ostentatious illuminated initials', isCorrect: true, isAnswered: false }
      ]
    } else if (this.language === 'rus') {
      trivia1question = 'По первоначальным правилам цистерцианцам было запрещено есть мясо, поэтому свои монастыри они всегда сооружали поблизости от водоёмов. С берегов какой реки монахи перебрались в начале XIV века в Падизе?  '
      trivia1answers = [
        { text: 'Вантаа', isCorrect: false, isAnswered: false },
        { text: 'Даугава', isCorrect: true, isAnswered: false },
        { text: 'Пирита', isCorrect: false, isAnswered: false }
      ]

      trivia2question = 'До того, как христианство пришло на территорию Эстонии, здесь не умели строить высокие каменные здания, потому что не знали рецепт известкового раствора, связывающего камни. Цистерцианцы внедрили совершенно новое строительное искусство – можно только представить, какими казались высокие каменные здания на фоне приземистых хуторских построек. Почему цистерцианцев называют элитарными монахами?'
      trivia2answers = [
        { text: 'они принесли на территорию Эстонии элитарные знания и навыки', isCorrect: false, isAnswered: false },
        { text: 'цистерцианцы считали, что они лучше других ', isCorrect: false, isAnswered: false },
        { text: 'знания и навыки цистерцианцев в области строительных технологий сначала использовались исключительно на мызах, а не среди крестьянства ', isCorrect: true, isAnswered: false }
      ]

      trivia3question = 'Цистерцианцы были известны как разработчики водных технологий. Какие из предложенных разработок можно связать с цистерцианцами? Выберите из списка четыре правильные.'
      trivia3answers = [
        { text: 'строительство водяных мельниц', isCorrect: true, isAnswered: false },
        { text: 'создание ватерклозета (туалета с канализацией) ', isCorrect: true, isAnswered: false },
        { text: 'закладка рыбных прудов ', isCorrect: true, isAnswered: false },
        { text: 'строительство ливневой канализации ', isCorrect: true, isAnswered: false },
        { text: 'установка водостоков ', isCorrect: false, isAnswered: false }
      ]

      trivia4question = 'Монахи должны были восемь раз в день посещать богослужения в церкви. На службах они распевали молитвы и тексты из Священного писания без музыкального сопровождения. Такое одноголосое пение называют грегорианским хоралом. На каком языке исполняли грегорианские хоралы?'
      trivia4answers = [
        { text: 'на немецком', isCorrect: false, isAnswered: false },
        { text: 'в каждом государстве на своем родном языке ', isCorrect: false, isAnswered: false },
        { text: 'на латинском', isCorrect: true, isAnswered: false },
        { text: 'на древнееврейском', isCorrect: false, isAnswered: false }
      ]

      trivia6question = 'Средневековый монастырь – это не только комплекс монастырских зданий, он и обширные землевладения. Земли Падизеского монастыря простирались от его стен до самого моря, ему принадлежали также острова Пакри, на запад его земли доходили до Ляэне Нигула. По направлению на восток собственностью монастыря были территории в  приходе Харью-Яани (теперь это в районе Раазику), а на юг – земли  в районе нынешней Марьямаа. Кроме того, во второй половине XIV века Падизескому монастырю принадлежали обширные землевладения в южной Финляндии, сегодня это примерно район Вантаа, Сипоо и Порвоо.\nВыберите из предложенных ягод и злаков три, которые несомненно выращивали на землях Падизеского монастыря.'
      trivia6answers = [
        { text: 'виноград', isCorrect: false, isAnswered: false },
        { text: 'пшеница', isCorrect: true, isAnswered: false },
        { text: 'рожь', isCorrect: true, isAnswered: false },
        { text: 'ячмень', isCorrect: true, isAnswered: false },
        { text: 'кукуруза', isCorrect: false, isAnswered: false },
        { text: 'овёс', isCorrect: false, isAnswered: false }
      ]

      trivia5question = 'Летом монахи ели два раза в день, а зимой один, и питались они в основном блюдами из овощей и злаков. По первоначальным монастырским правилам монахам было запрещено есть мясо (хотя в Падизеском монастыре его уже ели). Какое мясо разрешалось есть в начальные времена монастыря?'
      trivia5answers = [
        { text: 'свинину - она была легко доступна', isCorrect: false, isAnswered: false },
        { text: 'зайчатину - это маленький зверек', isCorrect: false, isAnswered: false },
        { text: 'мясо бобра', isCorrect: true, isAnswered: false, explanation: '- его лысый хвост позволял считать бобра рыбой' }
      ]

      trivia7question = 'При монастырях создавали сады лекарственных растений, в которых выращивали лечебные и пряные травы. А знаете ли вы, что такое монашеский цветок?'
      trivia7answers = [
        { text: 'настурция', isCorrect: true, isAnswered: false, explanation: 'получила название монашеский цветок, поскольку по форме ее цветок похож на капюшон капуцинов' },
        { text: 'тимьян', isCorrect: false, isAnswered: false },
        { text: 'ромашка', isCorrect: false, isAnswered: false }
      ]

      trivia8question = 'В средние века книги переписывали от руки. И делали это в основном в монастырях, там переписывали книги и развивали искусство каллиграфии. Рукописи становились подлинными произведениями искусства. Чтобы привлечь внимание, некоторые части текста писали красными чернилами. В некоторых случаях украшали заглавную букву абзаца. Она называется буквица или инициал. В чем заключался смысл украшения буквицы?'
      trivia8answers = [
        { text: 'предоставить возможность писцу проявить свои художественные способности', isCorrect: true, isAnswered: false },
        { text: 'поскольку не было оглавления и нумерации страниц, украшенная буквица помогала определить нужное место в тексте', isCorrect: true, isAnswered: false },
        { text: 'чем важнее было место буквицы, тем она была живописнее', isCorrect: true, isAnswered: false }
      ]
    }

    var trivia1 = {
      pictogramWidth: 120,
      pictogramHeight: 120,
      defaultImageWidth: 400,
      defaultImageHeight: 300,
      correctImageWidth: 200,
      correctImageHeight: 250,
      pictogramX: 536,
      pictogramY: 470,
      defaultImageX: 110,
      defaultImageY: 290,
      correctImageX: 180,
      correctImageY: 440,
      z: 0,
      question: trivia1question,
      answers: trivia1answers,
      shake: false,
      selected: false,
      answered: false,
      timeout: null,
      timeoutCorrect: null,
      isTransition: false,
      textboxColor: 'white',
      textboxSide: 'left',
      transitionClass: 'slide-fade-trivia1',
      transitionClassDefault: 'slide-fade-trivia1',
      correctImg: require('../assets/triviaCorrect/image1.gif'),
      defaultImg: require('../assets/triviaImages/image1.jpg'),
      pictogramImg: require('../assets/pictograms/image4.png')
    }

    var trivia2 = {
      pictogramWidth: 150,
      pictogramHeight: 140,
      defaultImageWidth: 302,
      defaultImageHeight: 383,
      correctImageWidth: 300,
      correctImageHeight: 300,
      defaultImageX: 210,
      defaultImageY: 290,
      correctImageX: 440,
      correctImageY: 860,
      pictogramX: 390,
      pictogramY: 793,
      z: 0,
      question: trivia2question,
      answers: trivia2answers,
      shake: false,
      selected: false,
      answered: false,
      timeout: null,
      timeoutCorrect: null,
      isTransition: false,
      textboxColor: 'white',
      textboxSide: 'right',
      transitionClass: 'slide-fade-trivia2',
      transitionClassDefault: 'slide-fade-trivia2',
      correctImg: require('../assets/triviaCorrect/image6.gif'),
      defaultImg: require('../assets/triviaImages/image2.jpg'),
      pictogramImg: require('../assets/pictograms/image1.png')
    }

    var trivia3 = {
      pictogramWidth: 130,
      pictogramHeight: 130,
      defaultImageWidth: 447,
      defaultImageHeight: 250,
      correctImageWidth: 300,
      correctImageHeight: 300,
      defaultImageX: 210,
      defaultImageY: 290,
      correctImageX: -15,
      correctImageY: 868,
      pictogramX: 35,
      pictogramY: 980,
      z: 0,
      question: trivia3question,
      answers: trivia3answers,
      shake: false,
      selected: false,
      answered: false,
      timeout: null,
      timeoutCorrect: null,
      isTransition: false,
      textboxColor: 'white',
      textboxSide: 'bottom',
      transitionClass: 'slide-fade-trivia3',
      transitionClassDefault: 'slide-fade-trivia3',
      correctImg: require('../assets/triviaCorrect/image2.gif'),
      defaultImg: require('../assets/triviaImages/image3.jpg'),
      pictogramImg: require('../assets/pictograms/image2.png')
    }

    var trivia4 = {
      pictogramWidth: 110,
      pictogramHeight: 150,
      defaultImageWidth: 260,
      defaultImageHeight: 380,
      correctImageWidth: 300,
      correctImageHeight: 300,
      defaultImageX: 210,
      defaultImageY: 290,
      correctImageX: 833,
      correctImageY: 1027,
      pictogramX: 845,
      pictogramY: 1067,
      question: trivia4question,
      answers: trivia4answers,
      shake: false,
      selected: false,
      answered: false,
      timeout: null,
      timeoutCorrect: null,
      isTransition: false,
      audio: new Audio(require('../assets/audio.mp3')),
      textboxColor: 'white',
      textboxSide: 'left',
      transitionClass: 'slide-fade-trivia4',
      transitionClassDefault: 'slide-fade-trivia4',
      defaultImg: require('../assets/triviaImages/image4.jpg'),
      pictogramImg: require('../assets/pictograms/image3.png')
    }

    var trivia5 = {
      pictogramWidth: 120,
      pictogramHeight: 120,
      defaultImageWidth: 280,
      defaultImageHeight: 380,
      correctImageWidth: 300,
      correctImageHeight: 300,
      defaultImageX: 210,
      defaultImageY: 290,
      correctImageX: 380,
      correctImageY: 1270,
      pictogramX: 250,
      pictogramY: 1450,
      z: 0,
      question: trivia5question,
      answers: trivia5answers,
      shake: false,
      selected: false,
      answered: false,
      timeout: null,
      timeoutCorrect: null,
      isTransition: false,
      textboxColor: 'white',
      textboxSide: 'left',
      transitionClass: 'slide-fade-trivia5',
      transitionClassDefault: 'slide-fade-trivia5',
      correctImg: require('../assets/triviaCorrect/image5.gif'),
      defaultImg: require('../assets/triviaImages/image5.jpg'),
      pictogramImg: require('../assets/pictograms/image4.png')
    }

    var trivia6 = {
      pictogramWidth: 130,
      pictogramHeight: 130,
      defaultImageWidth: 448,
      defaultImageHeight: 280,
      correctImageWidth: 300,
      correctImageHeight: 300,
      defaultImageX: 310,
      defaultImageY: 290,
      correctImageX: 8,
      correctImageY: 1600,
      pictogramX: 120,
      pictogramY: 1695,
      z: 0,
      question: trivia6question,
      answers: trivia6answers,
      shake: false,
      selected: false,
      answered: false,
      timeout: null,
      timeoutCorrect: null,
      isTransition: false,
      textboxColor: 'white',
      textboxSide: 'bottom',
      transitionClass: 'slide-fade-trivia6',
      transitionClassDefault: 'slide-fade-trivia6',
      correctImg: require('../assets/triviaCorrect/image3.gif'),
      defaultImg: require('../assets/triviaImages/image6.jpg'),
      pictogramImg: require('../assets/pictograms/image5.png')
    }

    var trivia7 = {
      pictogramWidth: 120,
      pictogramHeight: 120,
      defaultImageWidth: 449,
      defaultImageHeight: 280,
      correctImageWidth: 300,
      correctImageHeight: 300,
      defaultImageX: 310,
      defaultImageY: 290,
      correctImageX: 550,
      correctImageY: 1150,
      pictogramX: 517,
      pictogramY: 1656,
      z: 0,
      question: trivia7question,
      answers: trivia7answers,
      shake: false,
      selected: false,
      answered: false,
      timeout: null,
      timeoutCorrect: null,
      isTransition: false,
      textboxColor: 'white',
      textboxSide: 'top',
      transitionClass: 'slide-fade-trivia7',
      transitionClassDefault: 'slide-fade-trivia7',
      correctImg: require('../assets/triviaCorrect/image4.gif'),
      defaultImg: require('../assets/triviaImages/image7.jpg'),
      pictogramImg: require('../assets/pictograms/image4.png')
    }

    var trivia8 = {
      pictogramWidth: 110,
      pictogramHeight: 150,
      defaultImageWidth: 448,
      defaultImageHeight: 270,
      correctImageWidth: 210,
      correctImageHeight: 210,
      defaultImageX: 310,
      defaultImageY: 290,
      correctImageX: 685,
      correctImageY: 1150,
      pictogramX: 745,
      pictogramY: 1498,
      z: 0,
      question: trivia8question,
      answers: trivia8answers,
      shake: false,
      selected: false,
      answered: false,
      timeout: null,
      timeoutCorrect: null,
      isTransition: false,
      textboxColor: 'white',
      textboxSide: 'bottom',
      transitionClass: 'slide-fade-trivia8',
      transitionClassDefault: 'slide-fade-trivia8',
      correctImg: require('../assets/triviaCorrect/image7.gif'),
      defaultImg: require('../assets/triviaImages/image8.jpg'),
      pictogramImg: require('../assets/pictograms/image3.png')
    }

    this.trivias = [
      trivia1,
      trivia2,
      trivia3,
      trivia4,
      trivia5,
      trivia6,
      trivia7,
      trivia8
    ]

    return {
      trivias: this.trivias,
      isSelected: this.isSelected
    }
  },
  methods: {
    SwipeHandler () {
      this.$router.push('landing-page')
    },

    IsTransitionOrCorrect () {
      for (var i = 0; i < this.trivias.length; i++) {
        if (this.trivias[i].isTransition || this.trivias[i].answered) {
          return true
        }
      }
      return false
    },

    answerClick (answer, trivia) {
      if (answer.isAnswered) {
        return
      }

      answer.isAnswered = true
      var self = this

      if (answer.isCorrect) {
        var correctsAnswered = true
        var isExplanation = false

        for (var i = 0; i < trivia.answers.length; i++) {
          if (trivia.answers[i].isCorrect && !trivia.answers[i].isAnswered) {
            correctsAnswered = false
          }

          if (trivia.answers[i].explanation) {
            isExplanation = true
          }
        }

        if (correctsAnswered && isExplanation) {
          trivia.timeout = setTimeout(function () {
            trivia.transitionClass = trivia.transitionClassDefault + '-correct'
            trivia.selected = false
            trivia.answered = true
            trivia.shake = false
            self.isSelected = false
            clearTimeout(trivia.timeoutCorrect)
            trivia.timeoutCorrect = setTimeout(function () {
              trivia.answered = false
            }, 9000)
          }, 9001)
        } else if (correctsAnswered) {
          trivia.timeout = setTimeout(function () {
            trivia.transitionClass = trivia.transitionClassDefault + '-correct'
            trivia.answered = true
            trivia.selected = false
            trivia.shake = false
            self.isSelected = false

            if (trivia.audio !== undefined) {
              trivia.audio.play()
            }
            clearTimeout(trivia.timeoutCorrect)
            trivia.timeoutCorrect = setTimeout(function () {
              trivia.answered = false
            }, 9000)
          }, 500)
        }
      } else {
        trivia.shake = true
      }
    },
    pictogramClick (trivia) {
      for (var i = 0; i < trivia.answers.length; i++) {
        trivia.answers[i].isAnswered = false
      }

      var self = this

      for (i = 0; i < this.trivias.length; i++) {
        this.trivias[i].transitionClass = this.trivias[i].transitionClassDefault
        this.trivias[i].selected = false
        this.trivias[i].answered = false
        this.trivias[i].z = 1
        if (this.trivias[i].timeout !== null) {
          clearTimeout(self.trivias[i].timeout)

          self.trivias[i].timeout = null
        }
        if (this.trivias[i].audio !== undefined) {
          this.trivias[i].audio.pause()
          this.trivias[i].audio.currentTime = 0
        }
      }

      trivia.z = 2
      trivia.selected = true
      this.isSelected = true
    },
    changeLanguage (language) {
      this.language = language
      console.log(language)
      if (language === 'est') {
        localStorage.setItem('language', language)
      } else if (language === 'eng') {
        localStorage.setItem('language', language)
      } else if (language === 'rus') {
        localStorage.setItem('language', language)
      }
    },
    backgroundClick: function (e) {
      for (var i = 0; i < this.trivias.length; i++) {
        if (this.trivias[i].isTransition) {
          return
        }

        this.trivias[i].transitionClass = this.trivias[i].transitionClassDefault
        this.trivias[i].selected = false
        this.trivias[i].answered = false
        this.trivias[i].z = 1
        if (this.trivias[i].timeout !== null) {
          clearTimeout(this.trivias[i].timeout)
          this.trivias[i].timeout = null
        }

        if (this.trivias[i].audio !== undefined) {
          this.trivias[i].audio.pause()
          this.trivias[i].audio.currentTime = 0
        }
      }

      this.isSelected = false
    }
  },
  directives: {
    'click-outside': {
      bind: function (el, binding, vNode) {
        // Provided expression must evaluate to a function.
        if (typeof binding.value !== 'function') {
          const compName = vNode.context.name
          let warn = `[Vue-click-outside:] provided expression '${binding.expression}' is not a function, but has to be`
          if (compName) { warn += `Found in component '${compName}'` }

          console.warn(warn)
        }
        // Define Handler and cache it on the element
        const bubble = binding.modifiers.bubble
        const handler = (e) => {
          if (bubble || (!el.contains(e.target) && el !== e.target)) {
            binding.value(e)
          }
        }
        el.__vueClickOutside__ = handler

        // add Event Listeners
        document.addEventListener('click', handler)
      },
      unbind: function (el, binding) {
        // Remove Event Listeners
        document.removeEventListener('click', el.__vueClickOutside__)
        el.__vueClickOutside__ = null
      }
    }
  }
}
</script>

<style>
.unblurred-bg{
  background-image: url("~@/assets/MainScreen.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  
  height: 100%;
  overflow: hidden;
  user-select: none;
}
</style>

<style scoped>


  .Swipe {
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .wrapper  {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    text-align: right;
  }

  .button {
    background-color: transparent;
    background-repeat: no-repeat;
    color: transparent;
    border: none;
    padding: 48px;
    cursor: pointer;
  }

  .top-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  margin: 242px 64px 100px 64px;
}

.top-buttons button {
  background-color: Transparent;
  outline:none;
  border: none;
  color: #43503f;
  margin-top: 2%;
  font-weight: bold;
  cursor: pointer;
  font-size: 38px;
}

.top-buttons button:active {
  outline: none;
}

.top-buttons button:focus {
  outline: none;
}

  .BackBtn {
    border-radius: 50%;
    margin-left: 60px;
  }

  .answered-wrong {
    color: #c8102e;
      /*text-shadow: -1px -1px 1px #000, 1px 1px 1px #000;*/
  }

  .answered-correct {
    color: #00a6d6;
    /* text-shadow: -0.5px -0.5px 0.5px #000, 0.5px 0.5px 0.5px #000; */
  }

  .trivia-wrapper {
    position: absolute;
    margin: 0;
  }

  .trivia-image {
    margin: 0;
    padding: 0;
  }

  .trivia-selected-wrapper {
    padding: 0;
    margin: 0;
  }

  .trivia-selected-wrapper-side {
    display: flex;
  }

  .trivia-textbox {
    padding: 24px;
    width: 400px;
    font-size: 14px;
    font-family: 'joanna';
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
  }

  .trivia-textbox-red {
    background-color: rgba(200, 16, 46, 0.5);
  }

  .trivia-textbox-white {
    background-color: rgba(255, 255, 255, 0.603);
  }

  .trivia-question {
    font-size: 12px;
    margin: 0;
  }

  .trivia-answer {
    margin: 0px;
    padding: 3px;
  }

  .language-buttons {
  margin-left: auto;
}

.fade-pictogram-enter-active {
  transition: all .8s ease;
}
.fade-pictogram-leave-active {
  transition: none;
}
.fade-pictogram-enter {
  transform: scale(0.2);
  opacity: 0;
}
.fade-pictogram-leave {
  transform: scale(0);
}

.slide-fade-trivia1-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia1-leave-active {
  animation: trivia1-out 1.2s;
}
.slide-fade-trivia1-enter {
  transform: translate(0px, 10px) scale(0.2);
  opacity: 0;
}
@keyframes trivia1-out {
  from {
    transform: translate(-425px, -100px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-425px, -80px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia1-correct-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia1-correct-leave-active {
  animation: trivia1-correct-out 1.2s;
}
.slide-fade-trivia1-correct-enter {
  transform: translate(0px, 10px) scale(0.2);
  opacity: 0;
}
@keyframes trivia1-correct-out {
  from {
    transform: translate(-90px, 0px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-300px, 0px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia2-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia2-leave-active {
  animation: trivia2-out 1.2s;
}
.slide-fade-trivia2-enter {
  transform: translate(0px, 200px) scale(0.2);
  opacity: 0;
}
@keyframes trivia2-out {
  from {
    transform: translate(-330px, -360px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-300px, 0px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia2-correct-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia2-correct-leave-active {
  animation: trivia2-correct-out 1.2s;
}
.slide-fade-trivia2-correct-enter {
  transform: translate(0px, 10px) scale(0.2);
  opacity: 0;
}
@keyframes trivia2-correct-out {
  from {
    transform: translate(-230px, -540px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-300px, 0px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia3-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia3-leave-active {
  animation: trivia3-out 1.2s;
}
.slide-fade-trivia3-enter {
  transform: translate(-100px, 200px) scale(0.2);
  opacity: 0;
}
@keyframes trivia3-out {
  from {
    transform: translate(145px, -360px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-100px, -100px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia3-correct-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia3-correct-leave-active {
  animation: trivia3-correct-out 1.2s;
}
.slide-fade-trivia3-correct-enter {
  transform: translate(0px, 10px) scale(0.2);
  opacity: 0;
}
@keyframes trivia3-correct-out {
  from {
    transform: translate(210px, -440px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-100px, -100px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia4-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia4-leave-active {
  animation: trivia4-out 1.2s;
}
.slide-fade-trivia4-enter {
  transform: translate(100px, 450px) scale(0.2);
  opacity: 0;
}
@keyframes trivia4-out {
  from {
    transform: translate(-600px, -720px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(300px, -100px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia4-correct-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia4-correct-leave-active {
  animation: trivia4-correct-out 1.2s;
}
.slide-fade-trivia4-correct-enter {
  transform: translate(0px, 10px) scale(0.2);
  opacity: 0;
}
@keyframes trivia4-correct-out {
  from {
    transform: translate(-600px, -720px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(300px, -100px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia5-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia5-leave-active {
  animation: trivia5-out 1.2s;
}
.slide-fade-trivia5-enter {
  transform: translate(-100px, 700px) scale(0.2);
  opacity: 0;
}
@keyframes trivia5-out {
  from {
    transform: translate(-50px, -1050px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-200px, -200px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia5-correct-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia5-correct-leave-active {
  animation: trivia5-correct-out 1.2s;
}
.slide-fade-trivia5-correct-enter {
  transform: translate(0px, 10px) scale(0.2);
  opacity: 0;
}
@keyframes trivia5-correct-out {
  from {
    transform: translate(-170px, -950px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-200px, 0px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia6-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia6-leave-active {
  animation: trivia6-out 1.2s;
}
.slide-fade-trivia6-enter {
  transform: translate(-150px, 900px) scale(0.2);
  opacity: 0;
}
@keyframes trivia6-out {
  from {
    transform: translate(240px, -1210px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-170px, -250px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia6-correct-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia6-correct-leave-active {
  animation: trivia6-correct-out 1.2s;
}
.slide-fade-trivia6-correct-enter {
  transform: translate(0px, 10px) scale(0.2);
  opacity: 0;
}
@keyframes trivia6-correct-out {
  from {
    transform: translate(300px, -1250px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-100px, -50px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia7-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia7-leave-active {
  animation: trivia7-out 1.2s;
}
.slide-fade-trivia7-enter {
  transform: translate(50px, 900px) scale(0.2);
  opacity: 0;
}
@keyframes trivia7-out {
  from {
    transform: translate(-300px, -1330px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-100px, -200px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia7-correct-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia7-correct-leave-active {
  animation: trivia7-correct-out 1.2s;
}
.slide-fade-trivia7-correct-enter {
  transform: translate(0px, 10px) scale(0.2);
  opacity: 0;
}
@keyframes trivia7-correct-out {
  from {
    transform: translate(-230px, -750px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-50px, -50px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia8-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia8-leave-active {
  animation: trivia8-out 1.2s;
}
.slide-fade-trivia8-enter {
  transform: translate(50px, 900px) scale(0.2);
  opacity: 0;
}
@keyframes trivia8-out {
  from {
    transform: translate(-420px, -1150px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-100px, -100px) scale(0.2);
    opacity: 0;
  }
}

.slide-fade-trivia8-correct-enter-active {
  transition: all 1.2s ease;
}
.slide-fade-trivia8-correct-leave-active {
  animation: trivia8-correct-out 1.2s;
}
.slide-fade-trivia8-correct-enter {
  transform: translate(0px, 10px) scale(0.2);
  opacity: 0;
}
@keyframes trivia8-correct-out {
  from {
    transform: translate(-370px, -800px) scale(1);
    opacity: 1;
  }

  to {
    transform: translate(-100px, -100px) scale(0.2);
    opacity: 0;
  }
}

  .animated {
    animation-duration: 0.7s;
    animation-fill-mode: both;
  }

  @keyframes bounce {
    from, 20%, 53%, 80%, to {
      animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
      transform: translate3d(0,0,0);
    }

    40%, 43% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(-30px, 0, 0);
    }

    70% {
      animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
      transform: translate3d(-15px, 0, 0);
    }

    90% {
      transform: translate3d(-4px, 0,0);
    }
  }

  .bounce {
    animation-name: bounce;
    transform-origin: center bottom;
  }

</style>